@import "tailwindcss";



@theme{
  --font-main: var(--font-main) 
}

:root{
   user-select: none;
}



input[type='checkbox']{
  appearance: none;        
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 20px;
  height: 20px;
  border: 2px solid #22c55e;  
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked {
  background-color: #22c55e;  
  border-color: #22c55e;
}

input[type="checkbox"]:checked::after {
  content: '✓';
  color: white;
  font-size: 15px;
  position: absolute;
  top: -4px;
  left: 2px;
}
